$color-white: #ffffff;
$color-red: #ff0000;
$menu-background: #ed3237;
$button-background: #e93136;
$button-shadow: #ff6468;
$offer-border-color: #e10000;
$color-black: #252423;
$color-number: #ededed;
$color-yellow: #ffdd2e;
$yellow-shadow: #ffec8b;
$button-black: #000000;
$pentagon-color: #e9e9e9;
