@font-face {
  font-family: 'RotondaC';
  font-style: normal;
  src: url('../assets/fonts/RotondaC/RotondaC.ttf');
}

@font-face {
  font-family: 'RotondaC';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/RotondaC/RotondaC-Bold.ttf');
}
