.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  &_desktop {
    max-width: 1144px;
  }
  &_laptop {
    max-width: 931px;
  }
  &_tablet {
    max-width: 693px;
  }
  &_iphone {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    max-width: 330px;
  }
  &_mobile {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 290px;
  }
  &__logo {
    background-image: url('../../assets/images/logo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    &_desktop {
      margin-right: 222px;
    }
    &_laptop {
      margin-right: 102px;
    }
    &_tablet {
      margin-right: 60px;
    }
    &_big {
      min-width: 228px;
      max-width: 228px;
      height: 55px;
    }
    &_small {
      min-width: 166px;
      max-width: 166px;
      height: 40px;
    }
    &_wide {
      min-width: 166px;
      max-width: 166px;
      height: 60px;
    }
  }
}
//90
