@import '../../styles/mixins';

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_desktop {
    margin-left: 222px;
    max-width: 270px;
  }
  &_laptop {
    margin-left: 102px;
    max-width: 253px;
  }
  &_tablet {
    margin-left: 60px;
    max-width: 201px;
  }
  &_iphone {
    max-width: 330px;
  }
  &_mobile {
    max-width: 290px;
  }

  &__phone {
    @include Phone;
    margin-bottom: 13px;
    &_desktop,
    &_laptop,
    &_tablet {
      text-align: left;
    }
    &_iphone,
    &_mobile {
      text-align: center;
    }
  }
  &__address {
    @include Address;
    &_desktop,
    &_laptop {
      text-align: left;
    }
    &_tablet,
    &_iphone {
      text-align: left;
      font-size: 13px;
    }
    &_mobile {
      text-align: center;
      font-size: 13px;
    }
  }
}
